In [1]:
 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import locale
from sklearn.preprocessing import StandardScaler

# locale.setlocale( locale.LC_ALL, 'en _US.UTF-8' )

In [2]:
alldata = pd.read_csv('data.csv')
series = pd.read_csv('series22.csv')

In [3]:
alldata['vote'] = alldata['vote'].str.replace(',', '')
series['vote'] = series['vote'].str.replace(',', '')

In [4]:
alldata['place'] = alldata['place'].str.replace(',', '')
# series['place'] = series['place'].str.replace(',', '')

In [5]:
alldata['vote'] = alldata['vote'].astype(float)
alldata['place'] = alldata['place'].astype(float)

In [6]:
series.dtypes

place    float64
title     object
rate     float64
vote      object
dtype: object

In [7]:
series

     place                            title  rate   vote
0      1.0                     Chainsaw Man   8.7  20179
1      2.0  Bleach: Thousand-Year Blood War   9.2  13923
2      3.0                     Spy x Family   8.5  24677
3      4.0           Cyberpunk: Edgerunners   8.3  47639
4      5.0                        Blue Lock   8.4   3367
..     ...                              ...   ...    ...
289  290.0                         INFINITY   8.0      9
290  291.0                     Experimation   6.3      7
291  292.0                  Yahya and Knouz   6.3      7
292  293.0                      B. Virtanen   4.4     18
293  294.0                            Blink   8.9      9

[294 rows x 4 columns]

In [8]:
alldata['cal'] = np.nan

In [145]:
vm = alldata['vote'].mean()
rm = alldata['rate'].mean()
pm = alldata['place'].mean()
pM = alldata['place'].max()
vM = alldata['vote'].max()

In [79]:
len(alldata)

1265884

In [105]:
def extloop(i, n, lis, l):
    lis+=([ (data['vote'] + (pM - data['place'])) / 
                                           ( (data['vote'] + (pM - data['place']))  + vm + pm) * 
                                           data['rate'] + 
                                           ( vm + pm) / 
                                           ( (data['vote'] + (pM - data['place']))  + vm + pm) *
                                           rm 
                                           for index, data in l.iterrows()])
    # print('------------------')

In [108]:
n =10000
lis = []
if  10000 > len(alldata):
    n = len(alldata)
for i in range(0, len(alldata), n):
    if len(alldata) - i < n:
        n =  len(alldata) - i
    extloop(i, n, lis, alldata[i:len(alldata):n])
    #  print([ (data['vote'] + (pM - data['place'])) / 
    #                                        ( (data['vote'] + (pM - data['place']))  + vm + pm) * 
    #                                        data['rate'] + 
    #                                        ( vm + pm) / 
    #                                        ( (data['vote'] + (pM - data['place']))  + vm + pm) *
    #                                        rm 
    #                                        for index, data in l.iterrows()])

In [109]:
len(lis)

8128

In [165]:
alldata['cal']  = alldata[0:len(alldata):10000].apply(lambda x:  [(alldata['vote'] + (pM - alldata['place'])) / 
                                           ( (alldata['vote'] + (pM - alldata['place']))  + vm + pm) * 
                                           alldata['rate'] + 
                                           ( vm + pm) / 
                                           ( (alldata['vote'] + (pM - alldata['place']))  + vm + pm) *
                                           rm +
                                           \
                                            alldata['rate']/(alldata['rate']+rm) * 
                                            ((alldata['vote'] + (pM - alldata['place']))/(pM+vM)*10) +
                                            rm/(alldata['rate']+rm) * ((vm+pm)/(vM+pM)*10) +
                                            \
                                            alldata['vote']/(alldata['vote']+vm) * 
                                            ((pM - alldata['place'])/pM*10) +
                                            vm/(alldata['vote']+vm) * (pm/pM*10)+
                                            \
                                            (pM - alldata['place'])/((pM - alldata['place'])+pm) * 
                                            (alldata['vote']/vM*10) +
                                            pm/((pM - alldata['place'])+pm) * (alldata['vote']/vM*10)
                                            ], axis=1)[0][0]

In [166]:
alldata

,place,title,rate,vote,cal
0,1.0,Avatar: The Way of Water,7.9,164146.0,20.874513
1,2.0,Wednesday,8.3,188429.0,21.309434
2,3.0,Glass Onion: A Knives Out Mystery,7.3,175582.0,20.479085
3,4.0,The White Lotus,7.9,108994.0,20.570542
4,5.0,The Recruit,7.5,15264.0,19.519084
...,...,...,...,...,...
1265879,1267216.0,Necrópolis,8.7,7.0,12.638915
1265880,1267217.0,Horrid Henry,6.4,6.0,12.766633
1265881,1267218.0,Horrid Henry,7.8,7.0,12.682464
1265882,1267219.0,Shark Tank,7.0,21.0,12.660455
1265883,1267220.0,Blue Whale,7.2,36.0,12.580919

In [176]:
com = pd.merge(alldata, series, how='inner', on='title')

In [177]:
com = com.sort_values(by=['cal'], ascending=False)

In [178]:
com

,place_x,title,rate_x,vote_x,cal,place_y,rate_y,vote_y
3,336.0,Bleach: Thousand-Year Blood War,9.2,13835.0,20.698042,2.0,9.2,13923
0,124.0,Chainsaw Man,8.7,19865.0,20.476714,1.0,8.7,20179
5,802.0,Cyberpunk: Edgerunners,8.3,47530.0,20.472601,4.0,8.3,47639
4,764.0,Spy x Family,8.5,24625.0,20.399132,3.0,8.5,24677
7,945.0,The Legend of Vox Machina,8.4,25233.0,20.333479,7.0,8.4,25257
...,...,...,...,...,...,...,...,...
374,223376.0,KJ File,3.7,6.0,11.916502,268.0,3.7,6
207,349439.0,The Clown,3.6,20.0,11.865945,118.0,8.0,5885
189,622386.0,Blink,2.8,7.0,11.476599,294.0,8.9,9
185,597793.0,Blink,2.3,9.0,11.197256,294.0,8.9,9
327,105311.0,Confessions from the Hart,1.0,8.0,9.909996,214.0,1.0,8

In [175]:
com.to_csv('out.csv', index=False)

In [ ]:
for index, data in alldata.iloc[0:10].iterrows():
    print(data['rate'])

7.9
8.3
7.3
7.9
7.5
8.4
7.9
7.4
8.7
8.0

In [ ]:
alldata['cal'] = alldata.apply(lambda row: (alldata['vote'] + (pM - alldata['place'])) / 
                                           ( (alldata['vote'] + (pM - alldata['place']))  + vm + pm) * 
                                           alldata['rate'] + 
                                           ( vm + pm) / 
                                           ( (alldata['vote'] + (pM - alldata['place']))  + vm + pm) *
                                           rm, axis=1)

MemoryError: Unable to allocate 9.66 MiB for an array with shape (1265884,) and data type float64

In [ ]:
alldata.head()

   place                              title  rate      vote
0    1.0           Avatar: The Way of Water   7.9  164146.0
1    2.0                          Wednesday   8.3  188429.0
2    3.0  Glass Onion: A Knives Out Mystery   7.3  175582.0
3    4.0                    The White Lotus   7.9  108994.0
4    5.0                        The Recruit   7.5   15264.0

In [ ]:
alldata['rate'].mean()

6.960127863216592

In [ ]:
# v votes
# s 0.007 * 1 + 50/votes*C
# WR = (v/(v+minimun)) *S +(m/(v+m))*C

In [ ]:
for i in range(len(alldata)):

    alldata['vote'][i] = alldata['vote'].str[i].replace(',', '')
    # alldata['place'][i] = alldata['place'][i].replace(',', '')
#   total_stars = float(x.replace(',',''))

C:\Users\Antonio franco\AppData\Local\Temp\ipykernel_5872\1783829577.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alldata['vote'][i] = alldata['vote'].str[i].replace(',', '')

KeyboardInterrupt:

In [ ]:
# alldata.dtypes

TypeError: 'Styler' object is not subscriptable

In [ ]:
alldata.head()

AttributeError: 'Styler' object has no attribute 'head'

In [ ]:
alldata.dtypes

place     object
title     object
rate     float64
vote      object
dtype: object

In [ ]:
for x in alldata.iterrows():
    print(x)
    break

TypeError: tuple indices must be integers or slices, not str

In [ ]:
alldata[['place', 'vote']] =  [ [x.replace(',', ''), y.replace(',', '')] for x, y in (alldata['place'], alldata['vote']) ]

ValueError: too many values to unpack (expected 2)

In [ ]:
[f(x) for x in range(5) for f in (alldata['place'],alldata['vote'])]

In [ ]:
[alldata['vote'][i] for item in range:
    ]

In [ ]:

alldata.place = pd.to_numeric(alldata.place, errors='coerce', downcast='integer')

In [ ]:
alldata

              place                     title rate    vote
0                1.   Spider-Man: No Way Home  8.9  312039
1                2.               The Witcher  8.2  411112
2                3.  The Matrix Resurrections  5.8  108000
3                4.             Don't Look Up  7.3  179067
4                5.                   Hawkeye  7.8   81556
...             ...                       ...  ...     ...
1214645  1,200,657.                Necrópolis  8.6       5
1214646  1,200,658.              Horrid Henry  5.6       5
1214647  1,200,659.              Horrid Henry  6.6       5
1214648  1,200,660.                Shark Tank  6.7      18
1214649  1,200,661.                Blue Whale  7.3      33

[1214650 rows x 4 columns]

In [ ]:


scaler = StandardScaler()
scaler.fit(data))
StandardScaler()